<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://static.portaldaindustria.com.br/portaldaindustria/noticias/media/imagem_16_9_1ocalpK.jpg"
     alt=""
     height="270px"

     srcset=""
     >

  </div>
  <div class="big-card__title">
    <h1><a href="#"> Saiu a nova versão do Angular</a></h1>

  </div>
  <div class="big-card__description">
    <p>
      <a>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
       Donec suscipit gravida erat sed mollis.
       Mauris nisi dui, convallis ut iaculis at, interdum eget erat
      </a></p>

  </div>
</div>
