
<header>
<app-menu-bar></app-menu-bar>
</header>
<app-menu-title> </app-menu-title>

<div class="container__articles">
  <div class="articles__main">
   <app-big-card  photoCover="https://static.portaldaindustria.com.br/portaldaindustria/noticias/media/imagem_16_9_1ocalpK.jpg"
   cardTitle=" NOVO HOMEM DE FERRO ANUNCIADO"
   cardDescription="Marvel studios anucia novo filme do homem de ferro."></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
    cardTitle="Nova Série anunciada no Disney +"
    photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRE-6jy00dBlOf9Tt9mBSiy195zV12OlxUkew&s"
    ></app-small-card>

    <app-small-card
    cardTitle="Nova filme do pantera negra hoje nos cinemas "
    photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRiRcBLCEy3RTKDagiSeIBAJdf8voSH5xjNVw&s"
    ></app-small-card>

    <app-small-card
    cardTitle="Novo filme dos X-men em pós produção, afirma diretor"
    photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwabfeZ3YoyuuxCfRaFqgngqko1Qy5Ecl_Qw&s"
    ></app-small-card>

  </div>
</div>
